<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Files</title>
</head>
<body>
    <h1>Successfully Uploaded!</h1>
    <h3>Here is the file with sentiment values attached:</h3>

    {% for filename in files %}
    <a href="{{ url_for('download_file', filename=filename) }}" download>{{ filename }}</a><br />
    {% endfor %}

    <h1>Download All Files</h1>
    <form action="{{ url_for('download_all') }}" method="get">
        <button type="submit">Download All Files</button>
    </form>

    <h1>Download the Positive Sentiment WordCloud</h1>
    <img src="{{ url_for('download_positive_word_cloud') }}" alt="Positive Sentiment Word Cloud">

    <form action="{{ url_for('download_positive_word_cloud') }}" method="get">
        <button type="submit">Download WordCloud Image</button>
    </form>
    
    <h1>Download the Negative Sentiment WordCloud</h1>
    <img src="{{ url_for('download_negative_word_cloud') }}" alt="Negative Sentiment Word Cloud">
    <form action="{{ url_for('download_negative_word_cloud') }}" method="get">
        <button type="submit">Download WordCloud Image</button>
    </form>

    <h1>Download the Positive Frequency Graph</h1>
    <img src="{{ url_for('download_positive_frequency_graph') }}" alt="Positive Frequency Graph">
    <form action="{{ url_for('download_positive_frequency_graph') }}" method="get">
        <button type="submit">Download Frequency Graph Image</button>
    </form>

    <h1>Download the Negative Frequency Graph</h1>
    <img src="{{ url_for('download_negative_frequency_graph') }}" alt="Negative Frequency Graph">
    <form action="{{ url_for('download_negative_frequency_graph') }}" method="get">
        <button type="submit">Download Frequency Graph Image</button>
    </form>
</body>
</html>
